@import "vars.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@500;700&display=swap');
.ms_main_container{
    padding: 100px 0;
}
.experience{
    display: flex;
    justify-content: center;
}
.exp_sushi_text{
    width: 400px;
    margin-right: 100px;
    p{
        margin: 30px 0;
    }
}
.black_title{
    color: black;
    text-transform: uppercase;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
}
.signature{
    img{
        max-width: 200px;
        object-fit: contain;
    }
}
.exp_sushi_img{
    margin-bottom: 30px;
    text-transform: uppercase;
    text-shadow: 1px 1px black;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.4);
        transform: translate(0px, 45px);
    }
    img{
        max-width: 400px;
        object-fit: contain;
    }
    p{
        z-index: 999;
    }
}
.infos{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: auto;
}
.info_card{
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    hr{
        width: 100px;
    }
    img{
        max-width: 100px;
    }
    .info_card_title{
        text-transform: uppercase;
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
    }
}
.info_button{
    border: 1px solid black;
    padding: 10px 20px;
    font-size: 12px;
    width: 180px;
    text-align: center;
    text-transform: uppercase;
    &:hover{
        cursor: pointer;
        background-color: black;
        color: white;
    }
}
.exp_sushi_img{
    height: 550px;
    width: 400px;
    background-image: url("../assets/layout-images/images/info22x.jpg");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding: 45px;
}
.main_jumbo_one{
    display: flex;
    height: 100vh;
}
.jumbo_right_img{
    width: 60%;
    height: 100vh;
 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
}
.jumbo_left{
    background-color: $mainColor;
    height: 100%;
    width: 40%;
}
.header_text_container{
    display: flex;
    justify-content: center;
}
.header_text{
    color: white;
    width: 500px;
    p{
        margin: 30px 0;
    }
}
.white_title{
    color: white;
    text-transform: uppercase;
    font-size: 55px;
    font-family: 'Roboto', sans-serif;
}
.menu_button{
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 12px;
    width: 180px;
    text-align: center;
    text-transform: uppercase;
    &:hover{
        background-color: white;
        color: black;
        cursor: pointer;
    }
}
.jumbo_left{
    display: flex;
    justify-content: center;
    align-items: center;
}
 //SEZIONE REVIEW
.customer_review{
    padding: 50px;
    display: flex;
    justify-content: center;

    .critics_title{
    font-family: 'Dancing Script', cursive;
    padding: 30px;
    font-size: 35px;
    color: $secondaryGrey;
    }
    hr{
        width: 100px;
        margin: auto;
        color: $mainGrey;
    }

}
.ms_nyt{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 1000px;
    background-color: $mainColor;
    .nyt_img{
    width: 50%;
        img{
            max-width: 100%;
            object-fit: contain;
        }
    }
}
.nyt_review{
    width: 50%;
    color: white;
    &:hover{
        transform: scale(1.15);
        box-shadow: 1px 1px black;
        background-color: black;
        padding: 20px;
    }
    .nyt_review_container{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: auto;
        p{
            padding: 15px 0;
        }
    }
}
.journals_reviews{
    margin: 50px auto;
    background-color: white;
    justify-content: space-between;
}
.white_title.journal{
    font-size: 35px;
}
.journal_right, .journal_left{
    color: white;
    width: 48%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 50px;
    p{
        padding: 15px;
    }
    div{
        background-color: transparent;
    }
}
.journal_right{
    background-image: url('../assets/layout-images/images/info52x.jpg');
    background-size: cover;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        transform: translate(-50px, 0px);
    }
}
.journal_left{
    background-image: url('../assets/layout-images/images/info12x.jpg');
    background-size: cover;
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        transform: translate(-50px, 0px);
    }
}
.jumbotron_bottom_main{
    background-image: url('../assets/layout-images/images/page52x.jpg');
    background-size: cover;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: white;
    p{
        margin-bottom: 30px;
        text-transform: uppercase;
        text-shadow: 1px 1px black;
    }
}
.news_square{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 1000px;
    padding-bottom: 80px;
}
.news_cards{
    display: flex;
    width: 33%;
    margin: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        width: 100%;
        height: 450px;
        object-fit: cover;
        position: relative;
    }
    .news_card_title{
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        padding: 10px;
    }
    .news_card_credits{
        font-size: 12px;
        color: $secondaryGrey;
    }
    &:hover{
        img{
            animation-name: mymove;
            animation-duration: 0.3s;
            @keyframes mymove {
                    0% {transform: scale(1)}
                    25% {transform: scale(1.1)}
                    50%{transform: scale(1.15)}
                    75%{transform: scale(1.17)}
                    100%{transform: scale(1.2)}
                  }
            transform: scale(1.2);
        }
        .news_card_title{
            z-index: 2;
            color: white;
            
            &:hover{
                cursor: pointer;
            }
        }
        .news_card_credits{
            display: none;
        }

    }
}
.menu_advises{
    display: flex;
    justify-content: center;
    margin: 100px auto;
    width: 1200px;
    ul{
        list-style-type: none;
    }
}
.advise_card{
    background-color: $mainGrey;
    height: 600px;
    width: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    
    
}
.advise_card_image{
    background-image: url('../assets/layout-images/images/misc22x.jpg');
    background-size: cover;
    color: white;
    transform: translateY(-20px);
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: 0.6);
        transform: translate(-50px, -50px);
    }
    
}
.title_and_price{
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 20px;
}
.dish_name, .advise_card_title{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
}

.advise_card_title{
    padding: 50px 0;
    font-size: 30px;
}
.overlay{
    z-index: 3;
}
.braised_abalone_bg{
    background-image: url('../assets/layout-images/images/hero42x.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}
.header_text.abalone{
    background-color: $mainColor;
    padding: 50px;
    margin-left: 200px;
    hr{
        width: 100px;
    }
    .abalone_price_cont{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        span{
            margin: 30px 0;
        }
    }
}